

/* #tabla{
    font-size: larger;
} */

span{
    color: rgba(98, 161, 3, 0.692);
}
#act_name{
    color: rgb(0, 0, 0);
}

#sp_title{

    color: black;
}

/* #informations{
    font-size: large;
}
 */
